#gameDisplayContainer {
    display: flex;
    flex-direction: column;
}

#statusInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gameInstructionContainer {
}

#gameScore {
    padding: 10px;
}

#gameTimer {
    padding: 10px;
}